---
// Component Imports
import AstroAd from '../components/Ad.astro';
import VueAd from '../components/Ad.vue';
import Footer from '../components/Footer.vue';
import Header from '../components/Header.vue';
import Nav from '../components/Nav.vue';
import Side from '../components/Side.vue';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/reset.css" />
        <!-- Need global to make sure styles aren't scoped -->
        <!-- https://docs.astro.build/en/guides/styling/ -->
        <style global>
            html {
                font-size: 16px;
            }

            body {
                font-size: 1.5em;
                line-height: 1.5;
            }

            h1 {
                font-size: 2em;
            }

            hr {
                border-style: none;
                border-bottom: 3px solid lightgrey;
                margin: 2em 0;
            }

            .header {
                grid-area: header;
            }
            .content {
                grid-area: content;
            }
            .nav {
                grid-area: nav;
            }
            .side {
                grid-area: sidebar;
            }
            .ad {
                grid-area: ad;
            }
            .footer {
                grid-area: footer;
            }

            .app {
                display: grid;
                gap: 20px;
                grid-template-areas:
                    "header"
                    "nav"
                    "content"
                    "sidebar"
                    "ad"
                    "footer";
            }

            @media (min-width: 500px) {
                .app {
                    grid-template-columns: 1fr 3fr;
                    grid-template-areas:
                    "header  header"
                    "nav     nav"
                    "sidebar content"
                    "ad      footer";
                }
                nav ul {
                    display: flex;
                    justify-content: space-between;
                }
            }

            @media (min-width: 700px) {
                .app {
                    grid-template-columns: 1fr 4fr 1fr;
                    grid-template-areas:
                    "header header  header"
                    "nav    content sidebar"
                    "nav    content ad"
                    "footer footer  footer";
                }
                nav ul {
                    flex-direction: column;
                }
            }
            .ad {
                background: lightyellow none no-repeat center;
                background-size: cover;
                text-align: center;
                position: relative;
                margin: 1em;
                color: white;
                text-shadow: -1px 1px 0 #000,
                    1px 1px 0 #000,
                    1px -1px 0 #000;
                    -1px -1px 0 #000;
            }

            .ad p {
                position: absolute;
                padding: 1em;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
            }
        </style>
	</head>
	<body>
        <!--
            Custom render functions from Astro will hydrate at various points of the lifecycle:
                - client:load
                    - hydrates as soon as the page triggers the load event
                - client:idle
                    - hydrates as soon as the main thread is free
                - client:visible
                    - hydrates as soon as the element enters the viewport
                - client:media={QUERY}
                    - hydrates as soon as the browser matches the given media query
                - client:only="{renderer}"
                    - hydrates as soon as the page is ready

            See https://docs.astro.build/en/core-concepts/framework-components/
        -->
        <div class="app">
            <Header />

            <Nav client:load />

            <!-- http://www.catipsum.com/ -->
            <main class="content">
                <h1>Astro + Vue 3</h1>

                <p>Cat ipsum dolor sit amet, mouser. Tom russian blue for himalayan abyssinian . Abyssinian donskoy. Donskoy grimalkin turkish angora yet tiger ragdoll. Bobcat singapura balinese sphynx. Jaguar. Donskoy puma abyssinian , for turkish angora.</p>

                <hr>

                <p>Burmese mouser yet devonshire rex savannah so ragdoll. Bengal himalayan burmese tiger. Sphynx jaguar so devonshire rex. Siamese cougar ocelot, so devonshire rex. Kitty british shorthair tom. Singapura lynx munchkin burmese savannah and cheetah. Grimalkin.</p>

                <hr>

                <p>Siamese munchkin and puma for puma, havana brown. Siberian bobcat so ragdoll for lion tom balinese . Birman devonshire rex and donskoy british shorthair cougar. Panther birman or abyssinian . Ocicat. Bombay bobcat. Norwegian forest.</p>

                <!-- Astro component, similar to vue but different syntax -->
                <!-- https://docs.astro.build/en/core-concepts/astro-components/ -->
                <AstroAd
                    title="SSR Ad (Astro)"
                    image="https://placekitten.com/800/100"
                    width="800"
                    height="100" />

                <p>Tomcat cougar leopard for havana brown. American shorthair tabby for ocicat. Turkish angora ocicat, yet havana brown british shorthair singapura leopard. Maine coon abyssinian . Ocelot. Maine coon donskoy.</p>

                <hr>

                <p>Malkin jaguar. Maine coon turkish angora yet bombay yet puma. Balinese russian blue. Donskoy devonshire rex scottish fold panther. Tomcat ocelot yet panther munchkin, kitten. Abyssinian kitty and british shorthair yet british shorthair.</p>

                <hr>

                <p>Cat ipsum dolor sit amet, mouser. Tom russian blue for himalayan abyssinian . Abyssinian donskoy. Donskoy grimalkin turkish angora yet tiger ragdoll. Bobcat singapura balinese sphynx. Jaguar. Donskoy puma abyssinian , for turkish angora.</p>

                <!-- Client side only rendered VUE ad, will not render on SSR -->
                <VueAd
                    title="CSR Ad (Vue)"
                    image="https://placekitten.com/800/150"
                    width="800"
                    height="100"
                    client:only="vue" />

                <p>Burmese mouser yet devonshire rex savannah so ragdoll. Bengal himalayan burmese tiger. Sphynx jaguar so devonshire rex. Siamese cougar ocelot, so devonshire rex. Kitty british shorthair tom. Singapura lynx munchkin burmese savannah and cheetah. Grimalkin.</p>

            </main>

            <Side />

            <!-- Astro component, similar to vue but different syntax -->
            <!-- https://docs.astro.build/en/core-concepts/astro-components/ -->
            <AstroAd
                title="SSR Ad (Astro)"
                image="https://placekitten.com/200/300"
                width="200"
                height="300" />

            <Footer client:visible />
        </div>
	</body>
</html>
