---
// Component Imports
import BaseLayout from '../components/BaseLayout.vue';
import Counter from '../components/Counter.vue';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
        <BaseLayout>
			<section class="section__full">
				<Counter client:visible>
					<h1>Hello, Vue!</h1>
				</Counter>
			</section>
        </BaseLayout>
	</body>
</html>
