---
// Access passed-in component props, like `<X title="Hello, World" />`
const { image, width, height } = Astro.props;
const paddingTop = `${(height / width) * 100}%`;
// Can't figure out a way to dynamically interpolate the style tag
// only to replace the whole thing with a variable with astro syntax using {}
const adStyle = `background-image:url(${image});padding-top:${paddingTop};`;
---

<div
    class="ad"
    style={adStyle}>

    <p>SSR Advertising</p>
</div>
