---
// Access passed-in component props, like `<X title="Hello, World" />`
const { title, image, width, height } = Astro.props;
const paddingTop = `${(height / width) * 100}%`;
---

<div
    class="ad"
    style={`background-image:url(${image});padding-top:${paddingTop};`}>

    <p>{ title }</p>
</div>
